<section class="pt-5">
  <div class="container pt-5 my-4 d-flex flex-column justify-content-center align-items-center">
    <h2 class="fs-1 fw-bold text-center text-uppercase my-col">contact section</h2>
    <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="lined main-color pe-4"></div>
          <i class="fa-solid fa-star my-col px-3"></i>
        <div class="lined main-color ps-4"></div>
    </div>
    <form action="GET" class="w-60 pt-5 mt-5">
      <input type="text" class="form-control border-0 border-bottom mb-5" placeholder="userName">
      <input type="text" class="form-control border-0 border-bottom my-5" placeholder="userAge">
      <input type="text" class="form-control border-0 border-bottom my-5" placeholder="userEmail">
      <input type="text" class="form-control border-0 border-bottom mt-5 mb-4" placeholder="userPassword">
      <button class="btn btn-col text-white">send Message</button>
    </form>
  </div>
</section>
