.main-color {
  color: #2C3E50;
}
.bg-col {
  background-color: #2C3E50;
}
.lined {
  height: .25rem;
  width: 5.625rem;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9ce2;
  opacity: 0;
  transition: 0.6s;
}
.inner:hover .layer {
  opacity: 1;
}
.my-fs {
  font-size: 4.6875rem;
}

.light-container {
  left: 0;
  right: 0;
}
.w-40 {
  width: 40%;
}

