<section class="bg-col py-5">
  <div class="container py-5">
    <div class="row justify-content-evenly text-white">
      <div class="inner col-md-4 py-sm-3 py-md-0 text-center">
        <h3 class="text-uppercase">location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="inner col-md-4 py-sm-3 py-md-0 align-items-center  text-center">
        <h3 class="text-uppercase text-center">around the web</h3>
        <div class="contact-social d-flex justify-content-center">
          <div class="icon-ex me-1 d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div class="icon-ex mx-1 d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="icon-ex mx-1 d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
          <div class="icon-ex mx-1 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-globe"></i>
          </div>
        </div>
      </div>
      <div class="inner col-md-4 my-sm-5 my-md-0 text-center">
        <h3 class="text-uppercase">about freelancer</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</section>
